*{
    margin: 0;
    padding: 0;
}

.shop-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

.container{
    padding-bottom: 50px;
}